.uc-container {
  padding: 1em;
  margin: 0 auto;
}
.uc-container * {
  color: #333;
  transition: all 0.3s;
}
.uc-container a {
  text-decoration: none;
}
.uc-container a:hover,
.uc-container a.active {
  text-decoration: none;
  color: #40a9ff;
}
.uc-info-container {
  display: flex;
  align-items: center;
  min-height: 90px;
  padding: 30px 0;
}
.uc-info-container .uc-info-avatar-container {
  flex: 0 0 90px;
  position: relative;
  width: 90px;
  height: 90px;
  margin-right: 20px;
  overflow: hidden;
  border-radius: 50%;
}
.uc-info-container .uc-info-avatar-container img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  border-radius: 50%;
}
.uc-info-container .uc-info-details {
  display: flex;
  min-height: 90px;
}
.uc-info-container .uc-info-details .uc-info-details-left {
  margin-right: 10px;
}
.uc-info-container .uc-info-details .uc-info-details-left .uc-info-name {
  margin: 20px 0 5px;
  color: #333;
}
.uc-info-container .uc-info-details .uc-info-details-left .uc-info-signature {
  padding: 0;
  margin: 0;
  color: #666;
  font-size: 14px;
}
.uc-info-container .uc-info-details .uc-info-details-right {
  display: flex;
  align-items: center;
}
.uc-info-container .uc-info-details .uc-info-details-right button {
  width: 100px;
  height: 30px;
  border: 1px solid #40a9ff;
  background: none;
  outline: none;
  border-radius: 3px;
  margin-left: 15px;
  text-align: center;
  cursor: pointer;
}
.uc-info-container .uc-info-details .uc-info-details-right button[type="primary"] {
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
.uc-info-container .uc-info-details .uc-info-details-right button:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
}
.uc-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid #f5f5f5;
}
.uc-nav li {
  text-align: center;
}
.uc-nav li .uc-nav-link {
  position: relative;
  padding: 0 5px;
}
.uc-nav li .uc-nav-link:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0;
  height: 2px;
  background: #40a9ff;
  transition: all 0.3s;
}
.uc-nav li .uc-nav-link:hover:after,
.uc-nav li .uc-nav-link.active:after {
  width: 100%;
}
