.animation1 {
  width: 100%;
  height: 100%;
  background-image: url('../assets/image/4.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.animation2 {
  width: 100%;
  height: 100%;
  background-image: url('../assets/image/2.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.animation3 {
  width: 100%;
  height: 100%;
  background-image: url('../assets/image/5.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.login-css {
  width: 100%;
  height: 100%;
  background-image: url('../assets/image/11.gif');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.login-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background: url(../assets/image/bg1.jpg) no-repeat 0px 0px;
  background-size: 100% 100%;
}
.login-container .login-content {
  padding: 2em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.login-container .login-content .login-name label {
  font-size: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ffcf00;
}
.login-container .login-content .imgCon {
  margin-top: 20px;
}
.login-container .login-content .imgCon img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.login-container .login-content .form-name {
  margin-top: 20px;
}
.login-container .login-content .form-name input {
  width: 110px;
  padding: 0.5em 1em 0.5em 2.5em;
  color: #000;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  outline: none;
  background: url(../assets/image/adm.png) no-repeat 0px 7px;
  background-size: 20px;
  border: none;
  font-weight: 100;
  border-bottom: 0.5px solid #9c9cbd;
}
.login-container .login-content .form-name input::-webkit-input-placeholder {
  color: #a3a9b9;
}
.login-container .login-content .form-name input::-moz-placeholder {
  color: #a3a9b9;
}
.login-container .login-content .form-name input::-ms-input-placeholder {
  color: #a3a9b9;
}
.login-container .login-content .form-password {
  margin-top: 20px;
}
.login-container .login-content .form-password input {
  width: 110px;
  padding: 0.5em 1em 0.5em 2.5em;
  color: #000;
  font-size: 18px;
  outline: none;
  background: url(../assets/image/key.png) no-repeat 0px 10px;
  background-size: 20px;
  border: none;
  font-weight: 100;
  border-bottom: 0.5px solid #9c9cbd;
}
.login-container .login-content .form-password input::-webkit-input-placeholder {
  color: #a3a9b9;
}
.login-container .login-content .form-password input::-moz-placeholder {
  color: #a3a9b9;
}
.login-container .login-content .form-password input::-ms-input-placeholder {
  color: #a3a9b9;
}
.login-container .login-content .form-checkbox {
  margin-top: 20px;
}
.login-container .login-content .form-checkbox label:nth-of-type(1) {
  margin-right: 10px;
}
.login-container .login-content .form-checkbox label span {
  color: #d4d3d3;
}
.login-container .login-content .form-checkbox .tui-checkbox:checked {
  background: #1673ff;
}
.login-container .login-content .form-checkbox .tui-checkbox {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 0.8rem;
  margin-right: 5px;
  padding: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: default;
  -webkit-appearance: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-transition: background-color ease 0.1s;
  transition: background-color ease 0.1s;
  cursor: pointer;
}
.login-container .login-content .form-checkbox .tui-checkbox:checked::after {
  content: '';
  top: 2px;
  left: 3px;
  position: absolute;
  background: transparent;
  border: #fff solid 2px;
  border-top: none;
  border-right: none;
  height: 6px;
  width: 10px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.login-container .login-content .form-login {
  margin-top: 20px;
}
.login-container .login-content .form-login .login-button {
  width: 200px;
  height: 35px;
  color: white;
  background-color: #2283D2;
  opacity: 0.5;
  border-radius: 3px;
  border-width: 0;
  margin: 0;
  outline: none;
  font-family: KaiTi;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
}
.login-container .login-content .form-login .login-button:hover {
  background-color: #106ABD;
}
.login-container .login-content .form-other {
  margin-top: 20px;
}
.login-container .login-content .form-other a {
  text-decoration: none;
  color: crimson;
}
.login-container .login-content .form-other a:nth-of-type(1) {
  color: #fff;
  margin-right: 20px;
}
